# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore the build directory
/dist

# Ignore .env files
.env

# Ignore the npm debug log
npm-debug.log

# Ignore IDE specific settings folders
.idea/
.vscode/
